# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 RAKwireless Technology Limited

config SHIELD_RAKWIRELESS_RAK14000_WB
	def_bool $(shields_list_contains,rakwireless_rak14000_wb)

config SHIELD_RAKWIRELESS_RAK14000_WBR
	def_bool $(shields_list_contains,rakwireless_rak14000_wbr)

config SHIELD_RAKWIRELESS_RAK14000
	def_bool SHIELD_RAKWIRELESS_RAK14000_WB || \
		SHIELD_RAKWIRELESS_RAK14000_WBR
