# Copyright (c) 2026 RAKwireless Technology Limited
# SPDX-License-Identifier: Apache-2.0

config INPUT_RAK14004
	bool "RAK14004 WisBlock keypad module"
	default y
	depends on DT_HAS_RAKWIRELESS_RAK14004_ENABLED
	select GPIO
	select I2C
	help
	  Enable the driver for the RAK14004 WisBlock keypad module, which scans
	  a passive key matrix and reports the pressed keys over I2C.
